
$theme-colors:(
    "primary":#FFF
);

$btn-font-family:Manrope;
$btn-font-size:16px;
$btn-line-height: normal;
$btn-font-weight: 500;
$btn-padding-x: 16px;


$accordion-border-width:0px;
$accordion-border-radius:11px;
$accordion-border-color:#FFF;
$accordion-color: #1B1B1B;
$accordion-bg:#FFF;
$accordion-button-active-bg: #FFF;
$accordion-button-active-color: #1B1B1B;
$accordion-icon-color: #1B1B1B;

$accordion-button-focus-box-shadow:#FFF;

$accordion-button-padding-x:16px;

$accordion-button-padding-y:17px;

$form-text-font-size: 16px;
$form-file-button-color: red;
// $input-plaintext-color:red;

$btn-close-width:10px;
$btn-close-height:10px;
$btn-close-color:#1B1B1B;
$btn-close-opacity:1.5;
$btn-close-hover-opacity:1.5;
// $btn-close-padding-y:18px;
// $btn-close-padding-y:;
